@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

* {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
     overscroll-behavior-y: contain;
}

#root {
    height: 100%;
}

h1 {
    font-size: 1.25em;
    font-weight: 800;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}


